<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel = "stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f7f4ef;
    }
  </style>

</head>
<body>
<div class="container mt-3 text-center">
<h1>Welcome to my To-Do-App XD</h1>

    <div class="row">
        <div class="column">
            <div class="card">

                <div class="card-body d-flex">
                    <ion-icon name="server-outline"></ion-icon>
                    <div>
                     <!--   <span th:text="${countSubscribers}"></span>-->
                        <div><a th:href="@{/register}">Register</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">

                <div class="card-body d-flex">
                    <ion-icon name="enter-outline"></ion-icon>
                    <div>
                        <!--   <span th:text="${countSubscribers}"></span>-->
                        <div><a th:href="@{/login}">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>